@{
    ViewData["Title"] = "Admin Panel";
}


 
<div class="container BodyContainer text-center">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Published</th>
            <th scope="col"></th> 
            <th scope="col"></th> 
        </tr>
</thead>
<tbody>
    <tr>
        <td>1</td>
        <td>What it's like having 7 dogs</td>
        <td>04-05-2020</td>
        <td>
          <button class="btn btn-primary" type="submit">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" type="submit">Delete</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Hiccup at my food again</td>
        <td>04-12-2020</td>
        <td>
          <button class="btn btn-primary" type="submit">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" type="submit">Delete</button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>My soul mate...no I'm not talking about my Husband</td>
        <td>04-19-2020</td>
        <td>
          <button class="btn btn-primary" type="submit">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" type="submit">Delete</button>
        </td>
    </tr>
</tbody>
</table>
</div>