@{
    ViewData["Title"] = "Animal Form";
}

<div class="container BodyContainer">
    <h2 class="formHeader">Add an Animal</h2>
    <div>
        <form>
            <div class="form-group row formRow">
                <label for="animalName" class="col-lg-2 col-form-label">Name</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="animalName" placeholder="Animal Name">
                </div>
            </div>
            <div class="form-group row formRow">
                <label for="blogImage" class="col-lg-2 col-form-label">Image</label>
                <div class="col-lg-10">
                    <input type="file" class="form-control-file" id="blogImage">
                </div>
            </div>
            <div class="form-group row formRow">
                <label for="animalDescription" class="col-lg-2 col-form-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" id="animalDescription" rows="5"></textarea>
                </div>
            </div>
            <div class="formButtonRow">
                <button class="btn btn-success formButton" type="submit">Submit</button>
                <a asp-action="AdminPanel"><button type="button" class="btn btn-secondary formButton">Cancel</button></a>
            </div>
        </form>
    </div>
</div>


