@model Beckaroo_NetCore.Models.Animal

@{
    ViewData["Title"] = "New Animal";
}

<div class="container BodyContainer">
    <h1>Add a New Animal</h1>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <form asp-action="CreateAnimal" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control col-lg-4" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Species" class="control-label"></label>
                    <select asp-for="Species" name="Species" class="form-control col-lg-3">
                        <option selected disabled>Select one...</option>
                        <option value="Canine">Canine</option>
                        <option value="Feline">Feline</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="Species" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control col-lg-3" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageMain" class="control-label"></label>
                    <input asp-for="ImageMainFile" name="ImageMainFile" class="form-control-file col-lg-6" type="file" />
                    <span asp-validation-for="ImageMain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageMainAlt" class="control-label"></label>
                    <input asp-for="ImageMainAlt" class="form-control col-lg-6" />
                    <span asp-validation-for="ImageMainAlt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageSecondary" class="control-label"></label>
                    <input asp-for="ImageSecondaryFile" name="ImageSecondaryFile" class="form-control-file col-lg-6" type="file" />
                    <span asp-validation-for="ImageSecondary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageSecondaryAlt" class="control-label"></label>
                    <input asp-for="ImageSecondaryAlt" class="form-control col-lg-6" />
                    <span asp-validation-for="ImageSecondaryAlt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" name="animalDescription" class="form-control richtextarea" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
