@{
    ViewData["Title"] = "The Zoo";
}

<div class="container BodyContainer">
    <h1>The Zoo</h1>
    <p>Here are all the animals in the Zoo. Click on their pictures to find out more about them!</p>
</div>
