@{
    ViewData["Title"] = "The Zoo";
}

<div class="container BodyContainer">
    <h1>The Zoo</h1>
    <p>Here are all the animals in the Zoo. Click on their pictures to find out more about them!</p>

    <h3>Dogs</h3>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Abby</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Cooper</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Mojo</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Izzy</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Rufus</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Aspen</h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                <h3 class="AnimalName">Fletcher</h3>
            </div>
        </div>
    <h3>Cats</h3>
    <h3>Reptiles/Mammals/Fish</h3>
</div>
