@{
    ViewData["Title"] = "The Zoo";
}

<div class="container BodyContainer">
    <h1>The Zoo</h1>
    <p>Here are all the animals in the Zoo. Click on their pictures to find out more about them!</p>

    <h3>Dogs</h3>
    <h3>Cats</h3>
    <h3>Reptiles/Mammals/Fish</h3>
</div>
