@{
    ViewData["Title"] = "Keepers";
}

<div class="container home-page-container">
    <h1>The Keepers</h1>
    <p>While having this many animals keeps us pretty busy the Keepers of the Zoo do a lot of other fun stuff too!</p>

    <div class="row KeeperRow">
        <div class="ImageContainer col-lg-6 col-xl-8">
            <img class="StandardImage" src="~/images/RiddlesAndBoo.jpg" alt="Nick and Aspen the Pitbull.">
        </div>
        <div class="col-lg-6 col-xl-4">
            <h3 class="KeeperHeader">Becky</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat urna sed est pharetra, sed sagittis metus sollicitudin. Donec euismod egestas orci, eu tincidunt dui accumsan non. Nulla tincidunt sem eget sapien vestibulum, sed fermentum est mollis. Aenean finibus elit tellus, in bibendum eros consequat vel. Pellentesque et justo elementum, gravida enim tempus, elementum enim. Fusce ac aliquam ante, in mattis tellus. Mauris eget egestas enim, et fringilla metus. Phasellus suscipit enim vel lacus rutrum convallis nec nec dolor. Vivamus aliquam tincidunt luctus. Nulla sit amet eros nec tellus mollis sodales. Donec ornare sit amet ligula dapibus mattis. Fusce ex risus, cursus in eros vitae, fringilla hendrerit massa. Suspendisse eget purus ut lacus auctor pulvinar. Ut vel consequat mi.</p>
        </div>
    </div>
    <div class="row KeeperRow">
        <div class="ImageContainer col-lg-6 col-xl-8">
            <img class="StandardImage" src="~/images/AspenAndNick.jpg" alt="Nick and Aspen the Pitbull.">
        </div>
        <div class="col-lg-6 col-xl-4">
            <h3 class="KeeperHeader">Nick</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat urna sed est pharetra, sed sagittis metus sollicitudin. Donec euismod egestas orci, eu tincidunt dui accumsan non. Nulla tincidunt sem eget sapien vestibulum, sed fermentum est mollis. Aenean finibus elit tellus, in bibendum eros consequat vel. Pellentesque et justo elementum, gravida enim tempus, elementum enim. Fusce ac aliquam ante, in mattis tellus. Mauris eget egestas enim, et fringilla metus. Phasellus suscipit enim vel lacus rutrum convallis nec nec dolor. Vivamus aliquam tincidunt luctus. Nulla sit amet eros nec tellus mollis sodales. Donec ornare sit amet ligula dapibus mattis. Fusce ex risus, cursus in eros vitae, fringilla hendrerit massa. Suspendisse eget purus ut lacus auctor pulvinar. Ut vel consequat mi.</p>
        </div>
    </div>
</div>
