@{
    ViewData["Title"] = "Home Page";
}

<picture>
    <source media="(min-width: 1200px)" srcset="~/images/CooperMain.png">
    <source media="(min-width: 768px)" srcset="~/images/CooperMain_Tablet.png">
    <img class="cooper-main" src="~/images/CooperMain_Mobile.png" alt="A picture of Cooper the Corgi mix">
</picture>

<div class="container home-page-container">
    <div>
        <p>Welcome to the Zoo! Our home and life revolve around animals, both the ones that live with us and the ones that briefly touch our lives. Feel free to browse and take a peek into our exciting adventures.</p>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div class="ImageContainer col-md-6 col-xl-12">
                    <img class="DailyTailsImage" src="~/images/RiddlesAndBoo.jpg" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                </div>
                <div class="col-md-6 col-xl-12">
                    <h3>Daily Tails</h3>
                    <p>
                        After over a decade of rescuing and owning animals together we have our fair share of stories and wisdom. Check back often to see what we're getting into! To read more of our fun stories click <a class="section-links" href="#">here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="row d-flex">
                <div class="ImageContainer col-md-6 col-xl-8 order-md-1 order-xl-0">
                    <img class="ZooImage" src="~/images/RyderHome.jpg" alt="A picture of Ryder the Cat sleeping in a box">
                </div>
                <div class="col-md-6 col-xl-4 order-md-0 order-xl-1">
                    <h3>The Zoo</h3>
                    <p>
                        This Zoo has all kinds of animals in it. To find out more about each animal and see some really cute picture click <a class="section-links" href="#">here.</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="ImageContainer col-md-6 col-xl-8">
                    <img class="KeepersImage" src="~/images/Ruxin1.jpg" alt="A picture of Ryder the Cat sleeping in a box">
                </div>
                <div class="col-md-6 col-xl-4">
                    <h3>The Keepers</h3>
                    <p>
                        The keepers of the Zoo have other interest too! Want to learn more about us? Click <a class="section-links" href="#">here.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>