@model Beckaroo_NetCore.Models.Blog

@{
    ViewData["Title"] = "Model.Blog.Title";
}

<div class="container BodyContainer">
    <div class="col-10 text-center offset-1">
        <h1>@Model.Title</h1>
        <h3>Author: @Model.Author</h3>
        <h4>@Html.DisplayFor(m => m.PublishDate)</h4>
        @if (Model.Image != null)
        {
            <img class="StandardImage" src="~/images/@Model.Image" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
        }
        <div class="BlogBody text-justify">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>