@model Beckaroo_NetCore.Models.DailyTailsViewModel

@{
    ViewData["Title"] = "Daily Tails";
}

<div class="container BodyContainer">
    <h1>Daily Tails</h1>
    <p>There's always something going on around this place. Click on the different stories below to read about our fun times.</p>

    <div class="pt-5">
        @foreach (var year in Model.ViewDate.Select(x => x.Year).Distinct().Reverse())
        {
            <h2>@year</h2>
            <div class="row">
            @foreach (var blog in Model.Blogs.Where(x => x.PublishDate.Year == year))
            {
                <div class="col-md-6 col-lg-4">
                    <a class="BlogPost" asp-controller="DailyTails" asp-action="Blog" asp-route-id="@blog.BlogID">
                        <img class="StandardImage" src="~/images/@blog.Image" alt="A picture of Rufus the dog and Riddley the cat looking at eachother.">
                        <p class="BlogTitle">@blog.Title</p>
                        <p class="BlogDate">@Html.DisplayFor(m => blog.PublishDate)</p>
                    </a>
                </div>
            }
            </div>
        }
    </div>
</div>
