@{
    ViewData["Title"] = "Daily Tails";
}

<div class="container BodyContainer">
    <h1>Daily Tails</h1>
    <p>There's always something going on around this place. Click on the different stories below to read about our fun times.</p>
</div>
